$light-gray: #F2F6F7;
.amount-scale-container {
    display: flex;
    .spacer {
        flex: 2;
    }
    section {
        flex: 6;
        background-color: $light-gray;
        height: 100px;
        border-radius: 4px;
    }
}