$border-color: #e6e6e6;
$pale-green: #03B07A;
$white: #fff;
$gray: #7F8180;
.tab-panel {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border-left: 1px solid $border-color;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
        li {
            display: inline-block;
            padding: 10px;
            border-right: 1px solid $border-color;
            cursor: pointer;
            color: $gray;
            font-size: 12px;
            .dot {
                background-color: #fff;
                border-width: 1px;
                border-style: solid;
                border-color: $border-color;
                border-radius: 50%;
                display: inline-block;
                padding: 3px 9px;
                color: $gray;
                margin-right: 5px;
            }
        }
        .selected-tab {
            background-color: $pale-green;
            color: $white;
        }
    }
    .tab-content {
        margin-top: 30px;
        -webkit-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.38);
        box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.38);
        border-radius: 4px;
        padding: 20px;
        height: 400px;
    }
}