<div class="my-cash-container">
    <header>
        <h2>MyCash</h2>
    </header>
    <section class="content">
        <aside class="left-button">
            <button disabled>
                <mark class="unicode" title="Previous">⟵</mark>
            </button>
        </aside>
        <section>
            <amount-scale></amount-scale>
            <info-form-panel></info-form-panel>
        </section>
        <aside class="right-button">
            <button>
                <mark class="unicode" title="Next">⟶</mark>
            </button>
        </aside>
    </section>
</div>