<div class="info-form-panel-container">
    <aside class="left-button">
        <button (click)="previous()" disabled>
            <mark class="unicode" title="Previous">⟵</mark>
        </button>
    </aside>
    <tabs>
        <tab tabTitle="PERSONAL INFO">
            <personal-info></personal-info>
        </tab>
        <tab tabTitle="INCOME INFO">
            <income-info></income-info>
        </tab>
        <tab tabTitle="INVESTMENT INFO">
            <investment-info></investment-info>
        </tab>
    </tabs>
    <aside class="right-button">
        <button (click)="next()">
            <mark class="unicode" title="Next">⟶</mark>
        </button>
    </aside>
</div>