.info-form-panel-container {
    margin-top: 30px;
    height: 400px;
    -webkit-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.38);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.38);
    border-radius: 4px;
}